@model AuthServer.App.ViewModels.LoginViewModel

@{
    Layout = "_Layout";
}

@{
    if (User.Identity?.IsAuthenticated == false)
    {
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                
                <img src="/img/lock.png" width="128" height="128" class="logo" alt="Auth Server Logo">
                <h1>Single Sign-on App </h1>
                <p>Please enter your username and password to access the content</p>
                
                <form asp-route="Login" method="post">
                    <input type="hidden" asp-for="ReturnUrl"/>
                    <fieldset>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Small" asp-for="Email" placeholder="example@email.com">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
                            </div>
                            <input type="password" class="form-control" aria-label="Small" asp-for="Password" placeholder="**********">
                        </div>
                        <button name="button" class="btn btn-primary" style="float: right" value="login">Get Access</button>
                    </fieldset>
                </form>
            </div>
            <div class="col">
            </div>
        </div>
    }else
    {
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                <img src="/img/lock.png" width="128" height="128" class="logo" alt="Auth Server Logo">
                <h1>Single Sign-on App </h1>

                <p><b>Account:</b> @User.Identity?.Name</p>

                <a class="btn btn-danger" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            </div>
            <div class="col">
            </div>
        </div>
    }
}

@if (ViewContext.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <div asp-validation-summary="All" class="danger"></div>
    </div>
}
else
{
    <p class="green">&nbsp;</p>
}
